.mainLogin{
margin-left: 700px;

}
.loan{
    background-color: #372848;
}
.loanInfo{
    background-color:#f1aeb5;
}

.displayInput{
    width: 300px;
    text-align: center;
    margin-left: 150px;
}









.lform{
    border: 3px;
    text-align: center;
    text-decoration: none;
    width: min-content;
    margin-left: 100px;
    
    

}
.lform .btn{
    background-color: #4db5f9;
    width: 300px;
    
}
.lform .form-control{
    background-color: #fafafa;
    border-radius: 3px;
    width: 300px;
    padding-right: 40px;
    
}
